SPRING_PROFILES_ACTIVE=local
DB_URL=jdbc:mysql://localhost:3307/careconnect360?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_USERNAME=<LOCAL_DB_USERNAME>
DB_PASSWORD=<LOCAL_DB_PASSWORD>
JWT_SECRET=<GENERATE_A_LONG_RANDOM_SECRET>
ADMIN_EMAIL=admin@careconnect360.com
ADMIN_PASSWORD=<LOCAL_ADMIN_PASSWORD>
SERVER_PORT=8080
FLYWAY_ENABLED=true
FLYWAY_BASELINE_ON_MIGRATE=false
MYSQL_DATABASE=careconnect360
MYSQL_USER=<LOCAL_DB_USERNAME>
MYSQL_PASSWORD=<LOCAL_DB_PASSWORD>
MYSQL_ROOT_PASSWORD=<LOCAL_ROOT_PASSWORD>
MYSQL_HOST_PORT=3307
